body {
    background-color: #ADEFD1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #00203FFF;
}

header {
    display: flex;
    justify-content: center;
    color: #ADEFD1FF;
    background-color: #00203FFF;
    width: 100%;
}