* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ADEFD1FF;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #ADEFD1FF;
    background-color: #00203FFF;
    padding: 50px;
}

a {
    color: #ADEFD1FF;
}

#start-quiz-zone, #question-zone, #results-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #00203FFF;
}
