* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ADEFD1FF;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #ADEFD1FF;
    background-color: #00203FFF;
    padding: 50px;
}

a {
    color: #ADEFD1FF;
}

p {
    padding: 20px;
}

#start-quiz-zone, #question-zone, #results-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #00203FFF;
    padding: 15px;
}

#start-quiz {
    background-color: #00203FFF;
    color: #ADEFD1FF;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 8px;
}

#question-zone {
    font-size: 40px;
}

.question-button {
    background-color: #00203FFF;
    color: #ADEFD1FF;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 8px;
}

input[type=text] {
    padding: 6px 0px 6px 0px;
}

#submit-button {
    background-color: #00203FFF;
    color: #ADEFD1FF;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 8px;
}